@media screen and (min-width: 1200px) {
    .wrapper {
        height: 100%;
    }
}

@media screen and (max-width: 1200px) {
    body {
        height: 100%;
    }

    .register__btn {
        flex-direction: column;
    }
}

@media screen and (max-width: 720px) {

    .wrapper {
        flex-direction: column;
    }

    .type {
        flex-direction: column;
    }

    .contacts {
        flex-direction: column;
        gap: 1.5rem;
    }

}